					<ul class="subnav">
						<li>{% link /about/opening/ Открытие школы %}</li>
						<li>
							{% link /about/philosophy/ Положения о школе %}
							<ol>
								<li>{% link /about/philosophy/general/ Общие положения %}</li>
								<li>{% link /about/philosophy/goals/ Цели и задачи %}</li>
								<li>{% link /about/philosophy/actions/ Организация %}</li>
							</ol>
						</li>
						<li>{% link /about/rules/ Заповеди %}</li>
						<li>{% link /about/author/ Автор и руководитель %}</li>
						<li>{% link /about/certificates/ Сертификаты %}</li>
					</ul>