<div class="block extra-links">
	<h2>Обратная связь</h2>
	<form ACTION="mailto:goch@bk.ru" method="POST" name="form1">
		<div class="row">
			<input class="box" type="text" placeholder="Ваше имя"/>
		</div>

		<div class="row">
			<input class="box" type="text" placeholder="Ваш e-mail"/>
		</div>

		<div class="row">
			<textarea class="box" name="text" id="text" placeholder="Введите текст..."></textarea>
		</div>

		<div class="row">
			<input type="submit" name="button" value="Отправить" />
		</div>
	</form>
</div>