					<ul class="subnav">
						<li>
							{% link /publications/vestnik/ Вестник "АКМЕ" %}
							<ol>
								<li>{% link /publications/vestnik/first/ Выпуск 1 %}</li>
								<li>{% link /publications/vestnik/second/ Выпуск 2 %}</li>
								<li>{% link /publications/vestnik/third/ Выпуск 3 %}</li>
								<li>{% link /publications/vestnik/fourth/ Выпуск 4 %}</li>
							</ol>
						</li>
						<li>{% link /publications/author/ Публикации автора %}</li>
						<li>{% link /publications/members/ Публикации участников %}</li>
						<li>{% link /publications/school/ О школе %}</li>
					</ul>