<div id="footer">
  <ul id="navigation">
    <li><a href="/about/opening">Открытие школы</a></li>
    <li><a href="/about/philosophy">Положения о школе</a></li>
    <li><a href="/about/rules">Заповеди</a></li>
    <li><a href="/about/author">Автор и руководитель</a></li>
    <li><a href="/about/certificates">Сертификаты</a></li>
    <li><a href="/members/">Члены</a></li>
    <li><a href="/science/">Научная деятельность</a></li>
    <li><a href="/publications/author">Автора</a></li>
    <li><a href="/publications/school">Школы</a></li>
    <li><a href="/publications/vestnik">Вестник</a></li>
    <li><a href="/contacts/">Контакты</a></li>
  </ul>
  <div class="copy">&copy; Научная школа педагогов АКМЕ</div>
</div>
