<div id="sponsors">
  <ul>
    <li><a href="http://www.rae.ru">Российская академия естествознания</a></li>
    <li><a href="http://www.apkpro.ru/">Академия повышения квалификации и профессиональнйо переподготовки работников образования</a></li>
      <li><a href="http://minobr.ulgov.ru">Министерство образования Ульяновской области</a></li>
    <li><a href="http://ipk.ulstu.ru">ОГБОУ ДПО Ульяновский институт повышения квалификации и переподготовки работников образования</a></li>
    <li><a href="http://www.ychitel.com/">Профессиональный педагогический журнал "Учитель"</a></li>
    <li><a href="http://cipv.ru/">ГНУ Центр исследования проблем воспитания, формирования здорового образа жизни, профилактики наркомании, социально-педагогической поддержки Детей и молодёжи</a></li>
    <li>&nbsp;</li>
    <li><a href="http://www.cdu.edu.ua/">Черкасский  Национальный университет имени Богдана Хмельницкого</a></li>
  </ul>
</div>
<div id="footer">
  <ul class="navigation">
    <li><a href="/sitemap/">Карта сайта</a></li>
  </ul>
  <div class="copy">&copy; Научная школа педагогов АКМЕ</div>
</div>
