			<ul id="navigation">
				<li>
					<span>О школе</span>
					<ul>
						<li><a href="/about/opening">Открытие школы</a></li>
						<li><a href="/about/philosophy">Положения о школе</a></li>
						<li><a href="/about/rules">Заповеди</a></li>
						<li><a href="/about/author">Автор и руководитель</a></li>
						<!--li><a href="/about/author">Автор и руководитель</a></li-->
						<li><a href="/about/certificates">Сертификаты</a></li>
					</ul>
				</li>
				<li><a href="/members/">Члены</a></li>
				<li>
					<a href="/science/">Научная деятельность</a>
					<ul>
						<li><a href="">Защиты диссертаций</a></li>
						<li><a href="">Конференции</a></li>
						<li><a href="">Семинары</a></li>
					</ul>
				</li>
				<li>
					<span>Публикации</span>
					<ul>
						<li><a href="/publications/author">Вестник "АКМЕ"</a></li>
						<li><a href="/publications/school">Публикации автора</a></li>
						<li><a href="/publications/vestnik">Публикации участников</a></li>
					</ul>
				</li>
				<li><a href="/contacts/">Контакты</a></li>
			</ul>
