			<ul id="navigation">
				<li>
					<span>О школе</span>
					<ul>
						<li><a href="/about/opening">Открытие школы</a></li>
						<li><a href="/about/philosophy">Положения о школе</a></li>
						<li><a href="/about/rules">Заповеди</a></li>
						<li><a href="/about/author">Автор и руководитель</a></li>
						<!--li><a href="/about/author">Автор и руководитель</a></li-->
						<li><a href="/about/certificates">Сертификаты</a></li>
					</ul>
				</li>
				<li><a href="/members/">Члены</a></li>
				<li>
					<a href="/science/">Научная деятельность</a>
					<ul>
						<li><a href="">Открытие школы</a></li>
						<li><a href="">Положение о школе</a></li>
						<li><a href="">Заповеди</a></li>
						<li><a href="">Автор и руководитель</a></li>
					</ul>
				</li>
				<li><a href="/publications/">Публикации</a></li>
				<li><a href="/contacts/">Контакты</a></li>
			</ul>
