			<ul id="navigation">
				<li>
					{% link /about/ О школе %}
					<ul>
						<li>{% link /about/opening/ Открытие школы %}</li>
						<li>{% link /about/philosophy/ Положение о школе %}</li>
						<li>{% link /about/rules/ Заповеди %}</li>
						<li>{% link /about/author/ Автор и руководитель %}</li>
						<li>{% link /about/certificates/ Сертификаты %}</li>
					</ul>
				</li>
				<li>{% link /members/ Члены %}</li>
				<li>
					{% link /science/ Научная деятельность %}
					<ul>
						<li>{% link /science/degree/ Защиты диссертаций %}</li>
						<li>{% link /science/conference/ Конференции %}</li>
						<li>{% link /science/meetengs/ Семинары %}</li>
					</ul>
				</li>
				<li>
        		  {% link /publications/ Публикации %}
					<ul>
						<li>{% link /publications/vestnik/ Вестник "АКМЕ" %}</li>
						<li>{% link /publications/author/ Публикации автора %}</li>
						<li>{% link /publications/members/ Публикации участников %}</li>
						<li>{% link /publications/school/ О школе %}</li>
					</ul>
				</li>
				<li>{% link /contacts/ Контакты %}</li>
			</ul>
